/* common shared style */
/* body{

} */
/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
 
}
span{
    color: rgb(255, 5, 5);
}

nav > ul {
   
   display: flex;  
   align-items: center;
   justify-content: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
 text-decoration: none;
 color: rgb(32, 30, 30);
}
.btn-primary{
     color: aliceblue;
    background-color: rgba(252, 2, 2, 0.793);
    border: none;
    padding: 3px 10px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    
}
/* header related style */
.header{
    background-color: #FFF8F3;
     background-image: url(images/header_bg.png);
     background-repeat: no-repeat;
     background-position: bottom right ;
     background-size:550px
}

.banner{
      padding: 30px 30px 0px 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.banner-content{
    max-width:500px ;
}
.banner .banner_profile_picture{
    width: 350px;
   
}
.banner_greeting{
    font-size: 17px;
}
.banner_title{
    font-size: 45px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 0px ;
    margin-bottom: 10px;
}

/* main section style */

/* about section style */
.about-section{
    width: 600px;
    padding: 50px 10px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: rgb(191, 221, 247);
    text-align: center;
}

.address{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-title{
    margin-bottom: 0px;
    border-bottom: 1px dotted black;
}
.info-desicription{
    margin-top: 2px;
}

 /* what i do section style */
.what-i-do{
    padding: 30px 150px;
    text-align: center;
}
.design-description{
    margin-top: 2px;
}

/* skills section style */
.skills-section{
    padding: 0px  100px;
}
.skills{
    margin: 0px 12px;
    text-align: none;
    width: 180px;
    height: 220px;
    background-color: rgba(227, 234, 187, 0.56);
    padding: 20px;
    transition: 0.4s;
    border-radius: 5px;
  
}
.skills:hover{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.444);
}
.skills-description{
    margin-top: 0px;
    padding-top: 0px;

}
.skills-title{
    margin: 10px 0px;
    font-size: 25px;
}
.skills-container{
    display: flex;
    align-items: center;
}
.summary-section{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    padding: 40px;
}
.summary-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px 160px;
}
.computer-engineering{
    border-bottom: 2px solid;
    margin: 0px 15px;
}
.education-description{
    margin: 0px;
}
.hervard-university{
    margin: 8px 0px;
}
.summary-title{
    text-align: center;
}
.education{
    text-align: center;
}
.summary-title{
font-size: 35px;
text-transform: capitalize;

}

 .summary-section .btn-summary{
 color: red;
 text-align: center;
 margin-left: 45%;
 padding: 5px 20px;
 background-color: black;
}

/* lets section related style */
.lets-section{
    background-color: azure;
    margin: 0px;
}
.lets-container{
    display: flex;
    justify-content: space-around;
    padding: 30px 100px;
}
.contact{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 10px;
}
.contact-title{
 font-size: 25px;

}
.massage{
    background-color: rgba(2, 41, 41, 0.079);
   width: 300px;
     padding: 20px;
     text-align: center;

}
.massage input,textarea{
    width: 100%;
    display: block;
     margin: 10px  0px;
     padding: 8px;
     border: none;
    outline: none;
    background-color: aliceblue;
   
}   
.message-btn{
   padding: 3px 60px;
   font-size: 20px;
   background-color: rgb(248, 6, 135);
   border: none;
   color: aliceblue;
}
.massage-title{
  color: red;
  font-size:25px ;
  margin-top:0px ;
}
/* 
footer releted style */
footer{
    background-color: rgb(175, 185, 240);
}

.fgc{
    display: flex;
    justify-content: space-between;
     margin: 10px 50px;
    padding: 10px 100px; 
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.feauture-title{
    text-align: center;
    color: rgb(0, 22, 41);
}
.fgc >.future ul li a{
    margin: 10px;
}
.project-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
