
nav > ul{
    display: flex;
    
  }
  nav li{
      list-style: none;
      margin: 10px;
      padding: 5px;
  }
  nav li a:hover{
      color: red;
  }
  nav li a{
      text-decoration: none;
      color: black;
  }
  /* nested menu optionan */
  nav li .dropdown{
    display: none;
    position: absolute;
    background-color: brown;
    padding-left: 0px;
    margin-top: 1px;
  }
  nav li:hover > .dropdown{
    display: block;
  }