*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
span{
    color: rgb(246, 0, 0);
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: red;
}
li{
    margin: 14px;
    text-transform: capitalize;
    color: blue;
}
a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(5, 154, 67);
}
li a:hover{
color: red;
}
.icon i{
    font-size: 20px;
    margin: 5px;
    color: rgb(3, 36, 107);
}
.icon i:hover{
     font-size: 22px;
    
}



.header_templete{
   background:  url(img/backround.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 400px;
   margin-top: 10px;
   transform-origin: rgb(22, 22, 22 , 0.55);
}
 .container{
    color: rgb(243, 210, 210);
    margin-left:200px ;

    padding-top: 100px;
    
}
.container h5{
 margin-bottom: 20px;
 color: rgb(196, 224, 249);
}
.container h1{
 margin-top: 20px;
 color: rgb(196, 224, 249);
}

.btn{
    margin-top: 20px;
    background-color: rgba(240, 248, 255, 0.378);
    display: inline-block;
    padding: 5px;

}
button{
    padding: 6px 20px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background-color: rgb(13, 14, 59);
    color: aliceblue;
    margin: 0px 5px;
}
.lern_btn{
    background-color: transparent;
    box-shadow: 2px 2px 8px black;
    color: rgb(205, 203, 203);
    transition: 0.4s;
}
.lern_btn:hover{
    background-color: rgb(6, 6, 45);
    color: aliceblue;
}
.our_btn{
    box-shadow: 2px 2px 8px black;
}
.our_btn:hover{
    box-shadow: 2px 2px 8px black;
    background-color: aliceblue;
    color: rgb(2, 2, 76);
}
/* end  */
.core_future .container{
    display: flex;
    align-items: center;

}
.hd{
 
    margin-left: 50px;
    
}
.container .img{
    width: 370px;
    border-radius: 10px;
    
}
img {
    width: 100%;
    border-radius: 10px;
   transition: 0.4s;
}
img:hover{
    box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.393);
}
.dut{
    display: flex;
    justify-content:space-around;
   
}

.core_future .container h1{
color: rgb(255, 1, 128);
}
.core_future .container h5{
color: rgb(1, 30, 114);
}
.core_future .container .btns{
color: rgb(1, 30, 114);
margin-top: 20px;
color: rgb(183, 245, 233);
}
.core_future .container p{
color: rgb(0, 0, 0);
margin-top: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.design, .usage,.testing{
    background-color: beige;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    color: rgb(238, 138, 235);
    border-radius: 8px;
    cursor: pointer;
}

.design, .usage,.testing, i{
  margin-top: 17px;
}
.app_download{
    background-color: aliceblue;
    margin-bottom: 20px;
}
.app_download .container{
    background-color: rgb(252, 237, 237);  
    width: 900px;
     position: absolute;
     margin-top: 30px;
     border-radius: 15px;
     margin-bottom: 30px;
}
.app_download .container h5{
color: rgba(37, 1, 78, 0.671);
text-transform: capitalize;
font-size: 17px;

padding-left: 10px;


}
.app_download .container h1{
   font-size: 50px;
   margin-bottom: 15px;
}

.images{
    width: 250px;
    height: 300px;
    position: relative;
}
.images img{
    width: 100%;
    height: 100%;
    margin-left: 800px;
    margin-bottom: 40px;
    box-shadow: none;
}

/* our_gaol :start */

.our_goal .container h3{
    color: rgb(0, 255, 0);
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;

}
_goal .container .icon_cheak p {
 text-align: center;
  font-size: 20px;
}
.our_goal .container .icon_cheak p i{
   background-color: rgb(158, 196, 229);
   text-align: center;
   color: black;
   font-size: 20px ;
   padding: 3px;
   border-radius: 50%;
}

.our_goal .container p{
   
}
.our_goal .container{
  width: 900px;
  color: black;

}
.our_goal .container .icon_cheak{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.our_teamMember  .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;

}







