    /* Keyword values
transition-property: none;
transition-property: all;

/* <custom-ident> values */
/* transition-property: test_05;
transition-property: -specific;
transition-property: sliding-vertically; */

/* Multiple values */
/* transition-property: test1, animation4;
transition-property: all, height, color;
transition-property: */
  /* all,
  -moz-specific,
  sliding; */

/* Global values */
/* transition-property: inherit;*/
.box{
    width: 200px;
    height: 200px;
    border: 2px solid ;
    margin: 30px;
    background-color: cadetblue;
     /* transition: width 5s linear , background-color 3s; */
      transition: transform 3s;
/* transition-property: initial;
transition-property: revert;
transition-property: revert-layer;
transition-property: unset; */  
}
.box:hover{
  transform: rotate(45deg);
}